@CHARSET "UTF-8"; 

.channel-favorable .p-countdown {
	background: transparent url(../../images/echannel/bg/bg52.png) scroll
		no-repeat
}

.channel-sale .p-sale-price {
	background: transparent url(../../images/echannel/bg/bg53.png) scroll
		no-repeat
}

.ecnews-area .b a {
	background: transparent url(../../images/echannel/icon/icon28.png)
		scroll no-repeat
}

.button-top-banner-close {
	background: transparent url(../../images/echannel/icon/icon1.png) scroll
		no-repeat
}

.layout:before,.layout:after {
	content: "";
	display: table
}

.layout:after {
	clear: both
}

.layout {
	*zoom: 1;
	width: 1000px;
	margin: 0 auto
}

.u-4-3 {
	width: 762px
}

.u-4-1 {
	width: 218px
}

.h:after,.b:after,.channel-pro-list:after {
	content: "";
	display: table;
	clear: both
}

.h,.b,.channel-pro-list {
	*zoom: 1
}

.channel-favorable .p-name,.channel-favorable .p-shining,.channel-favorable .channel-button,.channel-favorable .channel-button-begin,.channel-favorable .channel-button-end,.channel-sale .p-title,.channel-sale .p-name,.channel-floor .channel-button,.p-sale-price .channel-button,.p-sale-price .channel-button-begin,.p-sale-price .channel-button-end,.channel-floor,.ecnews-area .h-tab li
	{
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.channel-favorable .channel-button,.channel-floor .channel-button,.channel-favorable .channel-button-begin,.channel-favorable .channel-button-end
	{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 14px;
	width: 78px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	height: 30px;
	line-height: 28px;
	_line-height: 30px
}

.channel-floor .channel-button,.channel-favorable .channel-button,.channel-favorable .channel-button-begin
	{
	background-color: #d81b24;
	color: #FFF;
	border-color: #b3131a
}

.channel-floor .channel-button:hover,.channel-favorable .channel-button:hover,.channel-favorable .channel-button-begin:hover
	{
	border-color: #b3131a;
	background-color: #f0333c
}

.channel-favorable .channel-button-end {
	background-color: #b4b0ac;
	color: #FFF;
	border-color: #a29c98
}

.p-sale-price .channel-button,.p-sale-price .channel-button-begin,.p-sale-price .channel-button-end
	{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 26px;
	line-height: 24px;
	_line-height: 26px;
	padding: 0 9px;
	border-radius: 2px;
	font-size: 14px
}

@media screen and (min-width:0\0) {
	.p-sale-price .channel-button,.p-sale-price .channel-button-begin,.p-sale-price .channel-button-end
		{
		line-height: 26px
	}
}

.p-sale-price .channel-button {
	background-color: #FFF;
	color: #e01d20
}

.p-sale-price .channel-button-begin,.p-sale-price .channel-button-end {
	background-color: #f5bcbe;
	color: #e01d20
}

.channel-button:hover,.channel-button-begin:hover,.channel-button-end:hover
	{
	text-decoration: none
}

.hot-board {
	min-width: 1000px;
	background-color: #f6f6f6
}

.hot-board .ec-slider {
	height: 400px
}

.channel-favorable .pro-info,.channel-floor .pro-info {
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

.channel-pro-item {
	float: left
}

.channel-favorable .channel-pro-panels,.channel-floor .channel-pro-panels
	{
	background-color: #dfdfdf;
	padding: 1px 4px 4px 1px;
	margin: 0 -1px -1px 0;
	position: relative;
	*zoom: 1
}

.channel-pro-item .pro-info {
	position: relative;
	text-align: center
}

.channel-favorable .pro-info,.channel-floor .pro-info {
	background-color: #FFF;
	border: 4px solid #FFF;
	margin: 0 -3px -3px 0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

.channel-pro-item .pro-info-hover,.channel-pro-item .pro-info:hover {
	border-color: #f4ceb8;
	border-color: rgba(202, 20, 29, .2)
}

.channel-pro-item .p-tag {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5
}

.channel-favorable .p-tag,.channel-floor .p-tag {
	top: -4px;
	left: -4px
}

.channel-pro-item .p-img a {
	display: block;
	position: relative
}

.channel-pro-item .p-img img {
	vertical-align: top
}

.channel-pro-item .p-img-mask {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, .2);
	background-color: transparent\9\1;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,
		startColorstr='#33FFFFFF', endColorstr='#33FFFFFF')
}

.channel-pro-item .pro-info-hover .p-img-mask,.channel-pro-item .pro-info:hover .p-img-mask
	{
	display: block
}

.channel-pro-item .p-name,.channel-pro-item .p-shining {
	overflow: hidden
}

.channel-pro-item .p-name a:hover {
	color: #e01d20
}

.channel-pro-item .p-slogan {
	color: #777
}

.channel-pro-item .p-name .p-slogan,.channel-pro-item .p-promotions {
	color: #e01d20
}

.channel-pro-item .p-price {
	font-family: Arial;
	color: #e01d20
}

.channel-pro-item .p-price em,.channel-pro-item .p-price span {
	margin-right: 4px;
	font-size: 20px
}

.channel-pro-item .p-price b {
	font-weight: 400;
	font-family: \5FAE\8F6F\96C5\9ED1;
	font-size: 15px
}

.channel-sale {
	border: 1px solid #dfdfdf
}

.channel-sale .ec-slider {
	height: 310px
}

.channel-sale .button-slider-prev,.channel-sale .button-slider-next {
	top: 130px;
	margin-top: 0
}

.channel-sale .channel-pro-list {
	left: 0;
	top: 0
}

.channel-sale .channel-pro-item {
	width: 100%
}

.channel-sale .pro-info {
	margin: 0;
	border: 0 none;
	height: 310px
}

.channel-sale .p-countdown {
	height: 40px;
	background-color: #fcf7f7;
	position: relative;
	z-index: 2
}

.channel-sale .p-title {
	float: left;
	font-size: 14px;
	color: #777;
	padding: 11px 0 0 14px;
	line-height: 1.2
}

.channel-sale .p-time {
	float: right;
	font-family: tahoma;
	padding-top: 10px;
	height: 20px;
	line-height: 20px;
	padding-right: 7px
}

.channel-sale .p-time b {
	margin-right: 11px;
	color: #777
}

.channel-sale .p-time ins {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	min-width: 14px;
	padding: 0 3px;
	text-align: center;
	text-align: center;
	height: 20px;
	position: relative;
	color: #FFF;
	background-color: #d21921;
	border-radius: 2px;
	_overflow: hidden
}

.channel-sale .p-time s {
	position: absolute;
	width: 100%;
	height: 9px;
	font-size: 1px;
	line-height: 1px;
	left: 0;
	bottom: 1px;
	background-color: #db474d
}

.channel-sale .p-time i {
	position: relative;
	z-index: 2;
	font-style: normal
}

.channel-sale .p-time em {
	margin: 0 6px;
	color: #777
}

.channel-sale .p-quantity {
	position: absolute;
	right: 13px;
	top: 176px;
	text-align: right;
	height: 20px;
	line-height: 20px;
	border-left: 4px solid rgba(179, 19, 26, .89);
	border-left: 4px solid #b3131a\0/;
	*border-left: 4px solid #b3131a;
	background-color: rgba(216, 27, 36, .89);
	background-color: #d81b24\0/;
	*background-color: #d81b24;
	border-radius: 2px;
	padding: 0 8px 0 5px;
	color: #FFF;
	margin-right: 4px
}

.channel-sale .p-name {
	font-size: 18px;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	padding-top: 10px;
	width: 216px;
	overflow: hidden
}

.channel-sale .p-name a {
	color: #222
}

.channel-sale .p-img a {
	width: 144px;
	margin: 0 auto
}

.channel-sale .p-img img,.channel-sale .p-img-mask {
	width: 144px;
	height: 144px
}

.channel-sale .p-sale-price {
	background-color: #dd1d26;
	background-position: 0 0;
	height: 38px;
	float: right;
	padding: 0 13px 0 28px;
	font-size: 0
}

.channel-sale .p-sale-price em,.channel-sale .p-sale-price span,.channel-sale .p-sale-price b
	{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	color: #FFF
}

.channel-sale .p-sale-price em {
	margin-right: 5px
}

.channel-sale .p-sale-price em,.channel-sale .p-sale-price span {
	font-size: 24px;
	line-height: 1.2;
	margin-top: 5px
}

.channel-sale .p-sale-price b {
	font-weight: 400;
	font-family: \5FAE\8F6F\96C5\9ED1;
	font-size: 14px;
	line-height: 36px;
	*line-height: 38px
}

@media screen and (min-width:0\0) {
	.channel-sale .p-sale-price b {
		line-height: 38px
	}
}

.channel-sale .p-sale-price .channel-button,.channel-sale .p-sale-price .channel-button-begin,.channel-sale .p-sale-price .channel-button-end
	{
	vertical-align: top;
	margin: 6px 0 0 13px
}

.channel-sale .p-sale-rebate {
	background-color: #f8f8f8;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #9c9590;
	overflow: hidden;
	padding: 8px 0
}

.channel-sale .p-sale-rebate dl {
	float: left;
	text-align: center;
	border-left: 1px solid #dcdcdc;
	margin-left: -1px;
	line-height: 14px;
	width: 33%
}

.channel-favorable .channel-pro-item {
	width: 50%;
	margin-bottom: 21px
}

.channel-favorable .pro-info {
	height: 302px
}

.channel-favorable .p-countdown {
	position: absolute;
	right: -4px;
	top: -4px;
	z-index: 2;
	width: 383px;
	padding: 10px 6px 10px 0;
	background-position: right 0;
	background-repeat: repeat-y;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,
		startColorstr='#33FFFFFF', endColorstr='#33FFFFFF');
	text-align: right
}

.channel-favorable .pro-info:hover .p-countdown,.channel-favorable .pro-info-hover .p-countdown
	{
	padding-top: 8px;
	padding-right: 4px;
	border-top: 2px solid #efefef;
	border-right: 2px solid #efefef
}

.channel-favorable .p-time {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 20px;
	line-height: 20px
}

.channel-favorable .p-time b {
	margin-right: 11px;
	color: #777
}

.channel-favorable .p-time ins {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	min-width: 14px;
	padding: 0 3px;
	text-align: center;
	height: 20px;
	position: relative;
	color: #FFF;
	background-color: #d21921;
	border-radius: 2px;
	_overflow: hidden
}

.channel-favorable .p-time s {
	position: absolute;
	width: 100%;
	height: 9px;
	font-size: 1px;
	line-height: 1px;
	left: 0;
	bottom: 1px;
	background-color: #db474d
}

.channel-favorable .p-time i {
	position: relative;
	z-index: 2;
	font-style: normal
}

.channel-favorable .p-time em {
	margin: 0 6px;
	color: #777
}

.channel-favorable .p-quantity {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 20px;
	line-height: 20px;
	border-left: 4px solid rgba(179, 19, 26, .89);
	border-left: 4px solid #b3131a\0/;
	*border-left: 4px solid #b3131a;
	background-color: rgba(216, 27, 36, .89);
	background-color: #d81b24\0/;
	*background-color: #d81b24;
	border-radius: 2px;
	padding: 0 8px 0 5px;
	color: #FFF;
	margin: 0 4px 0 0;
	vertical-align: top
}

.channel-pro-favorable-item-1 .pro-info {
	text-align: left
}

.channel-pro-favorable-item-1 .p-img {
	padding: 24px 30px 0 24px;
	float: left
}

.channel-pro-favorable-item-1 .p-img img,.channel-pro-favorable-item-1 .p-img-mask
	{
	width: 156px;
	height: 252px
}

.channel-pro-favorable-item-1 .p-name {
	margin: 61px 32px 0 0;
	padding-right: 0;
	font-size: 26px;
	line-height: 1.3
}

.channel-pro-favorable-item-1 .p-shining {
	margin: 16px 32px 5px 0;
	font-size: 15px;
	line-height: 22px;
	min-height: 78px;
	_height: 78px
}

.channel-pro-favorable-item-1 .p-price {
	padding: 0 12px 0 0;
	float: left;
	line-height: 29px;
	_line-height: 32px
}

@media screen and (min-width:0\0) {
	.channel-pro-favorable-item-1 .p-price {
		line-height: 29px
	}
}

.channel-pro-favorable-item-1 .p-price em {
	margin-right: 5px
}

.channel-pro-favorable-item-1 .p-price em,.channel-pro-favorable-item-1 .p-price span
	{
	line-height: 32px;
	font-size: 24px
}

.channel-pro-favorable-item-1 .p-button {
	float: left
}

.channel-pro-favorable-item-2 .pro-info {
	text-align: right
}

.channel-pro-favorable-item-2 .p-img {
	padding-top: 44px;
	width: 252px;
	margin: 0 auto;
	text-align: center
}

.channel-pro-favorable-item-2 .p-img img,.channel-pro-favorable-item-2 .p-img-mask
	{
	width: 252px;
	height: 156px
}

.channel-pro-favorable-item-2 .p-name,.channel-pro-favorable-item-2 .p-shining
	{
	float: left;
	width: 248px;
	text-align: left;
	padding-left: 32px;
	white-space: nowrap
}

.channel-pro-favorable-item-2 .p-name {
	margin-bottom: 5px;
	font-size: 26px;
	line-height: 1.2;
	padding-top: 8px
}

.channel-pro-favorable-item-2 .p-shining {
	font-size: 15px;
	line-height: 22px
}

.channel-pro-favorable-item-2 .p-price,.channel-pro-favorable-item-2 .p-button
	{
	padding-right: 32px
}

.channel-pro-favorable-item-2 .p-price {
	padding-top: 7px;
	padding-bottom: 3px;
	*margin-top: -44px
}

.channel-pro-favorable-item-2 .p-price em,.channel-pro-favorable-item-2 .p-price span
	{
	font-size: 24px
}

.channel-pro-favorable-item-2 .p-price b {
	line-height: 36px;
	margin-right: 4px
}

.channel-floor .h {
	padding-bottom: 10px
}

.channel-floor .h h2 {
	float: left;
	border-left: 4px solid #c82c2c;
	padding-left: 7px;
	line-height: 1.1;
	font-size: 18px;
	font-weight: 700
}

.channel-floor .h h2 a:hover {
	color: #e01d20;
	text-decoration: none
}

.channel-floor .channel-subtitle {
	float: left;
	display: inline;
	*zoom: 1;
	font-size: 13.5px;
	*font-size: 14px;
	color: #777;
	margin-left: 10px;
	position: relative;
	top: 1px;
	*top: 0;
	_top: 1px
}

.channel-floor .channel-nav {
	float: right
}

.channel-floor .channel-nav li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 13px;
	padding-left: 20px
}

.channel-floor .channel-nav a {
	color: #978679
}

.channel-floor .channel-nav a:hover {
	color: #e01d20;
	text-decoration: none
}

.channel-floor .channel-pro-item .p-img {
	padding-top: 6px
}

.channel-floor .channel-pro-item .p-img a {
	width: 222px;
	margin: 0 auto
}

.channel-floor .channel-pro-item .p-img img,.channel-floor .channel-pro-item .p-img-mask
	{
	width: 222px;
	height: 222px
}

.channel-floor .channel-pro-item {
	width: 25%
}

.channel-floor .pro-info {
	height: 314px
}

.channel-floor .channel-pro-item .p-name {
	font-size: 14px;
	height: 36px;
	line-height: 18px;
	margin: 0 32px 5px
}

.channel-floor .channel-pro-rec-item {
	width: 50%
}

.channel-floor .channel-pro-rec-item .pro-info {
	text-align: left
}

.channel-floor .channel-pro-rec-item .p-img {
	padding: 44px 48px 0 30px;
	float: left;
	width: 222px
}

.channel-floor .channel-pro-rec-item .p-name {
	margin-top: 54px;
	margin-left: 0;
	margin-right: 32px;
	font-size: 26px;
	line-height: 1.3;
	height: auto
}

.channel-floor .channel-pro-rec-item .p-shining {
	margin: 6px 32px 13px 0;
	font-size: 15px;
	line-height: 22px;
	height: 92px
}

.channel-floor .channel-pro-rec-item .p-promotions {
	padding-top: 2px
}

.channel-floor .channel-pro-rec-item .p-price {
	padding: 0 12px 0 0;
	float: left;
	line-height: 29px;
	_line-height: 32px
}

@media screen and (min-width:0\0) {
	channel-floor .channel-pro-rec-item .p-price {
		line-height: 29px
	}
}

.channel-floor .channel-pro-rec-item .p-price em,.channel-floor .channel-pro-rec-item .p-price span
	{
	margin-right: 5px;
	line-height: 32px;
	font-size: 24px
}

.channel-floor .p-price b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding-top: 3px
}

.channel-floor .channel-pro-rec-item .p-price b {
	padding-top: 0
}

.channel-floor .channel-pro-rec-item .p-button {
	float: left
}

.ecnews-area {
	border: 1px solid #dfdfdf
}

.ecnews-area .h-tab li {
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #838181;
	background-color: #fcf7f7;
	width: 50%;
	font-size: 14px
}

.ecnews-area .h-tab .current {
	color: #333;
	background-color: #FFF
}

.ecnews-area .h-tab a {
	color: #7f7f7f
}

.ecnews-area .h-tab .current a {
	color: #333
}

.ecnews-area .h-tab a:hover {
	color: #e01d20
}

.ecnews-area .b {
	height: 128px
}

.ecnews-area .b ul {
	padding: 13px 10px 0 17px
}

.ecnews-area .b li {
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	*white-space: normal;
	text-overflow: ellipsis
}

.ecnews-area .b a {
	padding-left: 10px;
	color: #9c9590;
	background-position: -12px 6px
}

.ecnews-area .b a:hover {
	color: #e01d20;
	background-position: 0 -24px
}

.top-banner {
	margin-top: 10px
}

.top-banner a:hover {
	text-decoration: none
}

.top-banner-max {
	height: 400px
}

.top-banner-min {
	height: 80px
}

.top-banner-img {
	width: 1000px;
	margin: 0 auto;
	position: relative
}

.top-banner-img img {
	vertical-align: top
}

.button-top-banner-max,.button-top-banner-min,.button-top-banner-close {
	position: absolute;
	right: 4px;
	top: 4px;
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 15px;
	background-color: rgba(0, 0, 0, .5);
	background-color: #7d7d7d\0/;
	*background-color: #7d7d7d;
	border-radius: 2px;
	color: #FFF;
	overflow: hidden;
	font-family: helvetica
}

.button-top-banner-max {
	font-size: 16px;
	font-weight: 700;
	line-height: 15px
}

.button-top-banner-min {
	font-size: 26px;
	line-height: 10px
}

.button-top-banner-close {
	text-indent: 100%;
	white-space: nowrap;
	background-position: -70px -44px
}

#channel-pro-favorable-1 .pro-info {
	background-color: #f8f8f8;
	border-color: #f8f8f8
}

#channel-pro-favorable-1 .pro-info:hover,#channel-pro-favorable-1 .pro-info-hover
	{
	border-color: #efcacc
}

#channel-pro-favorable-1 .pro-info:hover .p-countdown,#channel-pro-favorable-1 .pro-info-hover .p-countdown
	{
	border-top: 2px solid #efcacc;
	border-right: 2px solid #efcacc
}

#channel-pro-favorable-2 .pro-info {
	background-color: #e2f9fb;
	border-color: #e2f9fb
}

#channel-pro-favorable-2 .pro-info:hover,#channel-pro-favorable-2 .pro-info-hover
	{
	border-color: #ddcbcf
}

#channel-pro-favorable-2 .pro-info:hover .p-countdown,#channel-pro-favorable-2 .pro-info-hover .p-countdown
	{
	border-top: 2px solid #ddcbcf;
	border-right: 2px solid #ddcbcf
}

#channel-pro-favorable-3 .pro-info {
	background-color: #fffce7;
	border-color: #fffce7
}

#channel-pro-favorable-3 .pro-info:hover,#channel-pro-favorable-3 .pro-info-hover
	{
	border-color: #f4cebf
}

#channel-pro-favorable-3 .pro-info:hover .p-countdown,#channel-pro-favorable-3 .pro-info-hover .p-countdown
	{
	border-top: 2px solid #f4cebf;
	border-right: 2px solid #f4cebf
}

#channel-pro-favorable-4 .pro-info {
	background-color: #ffecef;
	border-color: #ffecef
}

#channel-pro-favorable-4 .pro-info:hover,#channel-pro-favorable-4 .pro-info-hover
	{
	border-color: #f4c1c5
}

#channel-pro-favorable-4 .pro-info:hover .p-countdown,#channel-pro-favorable-4 .pro-info-hover .p-countdown
	{
	border-top: 2px solid #f4c1c5;
	border-right: 2px solid #f4c1c5
}

#channel-pro-1-1 .pro-info {
	background-color: #fff;
	border-color: #fff
}

#channel-pro-1-1 .pro-info:hover,#channel-pro-1-1 .pro-info-hover {
	border-color: #edc9cb
}

#channel-pro-1-2 .pro-info {
	background-color: #e2f9fb;
	border-color: #e2f9fb
}

#channel-pro-1-2 .pro-info:hover,#channel-pro-1-2 .pro-info-hover {
	border-color: #ddcbcf
}

#channel-pro-1-3 .pro-info {
	background-color: #ffecef;
	border-color: #ffecef
}

#channel-pro-1-3 .pro-info:hover,#channel-pro-1-3 .pro-info-hover {
	border-color: #f4c1c5
}

#channel-pro-2-1 .pro-info {
	background-color: #f2ffe8;
	border-color: #f2ffe8
}

#channel-pro-2-1 .pro-info:hover,#channel-pro-2-1 .pro-info-hover {
	border-color: #ead0bf
}

#channel-pro-2-2 .pro-info {
	background-color: #fcefff;
	border-color: #fcefff
}

#channel-pro-2-2 .pro-info:hover,#channel-pro-2-2 .pro-info-hover {
	border-color: #f2c3d2
}

#channel-pro-2-3 .pro-info {
	background-color: #fffce7;
	border-color: #fffce7
}

#channel-pro-2-3 .pro-info:hover,#channel-pro-2-3 .pro-info-hover {
	border-color: #f4cebf
}

#channel-pro-3-1 .pro-info {
	background-color: #ffecef;
	border-color: #ffecef
}

#channel-pro-3-1 .pro-info:hover,#channel-pro-3-1 .pro-info-hover {
	border-color: #f4c1c5
}

#channel-pro-3-2 .pro-info {
	background-color: #f6f6f6;
	border-color: #f6f6f6
}

#channel-pro-3-2 .pro-info:hover,#channel-pro-3-2 .pro-info-hover {
	border-color: #edc9cb
}

#channel-pro-3-3 .pro-info {
	background-color: #e2f9fb;
	border-color: #e2f9fb
}

#channel-pro-3-3 .pro-info:hover,#channel-pro-3-3 .pro-info-hover {
	border-color: #ddcbcf
}

#channel-pro-4-1 .pro-info {
	background-color: #f6f6f6;
	border-color: #f6f6f6
}

#channel-pro-4-1 .pro-info:hover,#channel-pro-4-1 .pro-info-hover {
	border-color: #edc9cb
}

#channel-pro-4-2 .pro-info {
	background-color: #e2f9fb;
	border-color: #e2f9fb
}

#channel-pro-4-2 .pro-info:hover,#channel-pro-4-2 .pro-info-hover {
	border-color: #ddcbcf
}

#channel-pro-4-3 .pro-info {
	background-color: #ffecef;
	border-color: #ffecef
}

#channel-pro-4-3 .pro-info:hover,#channel-pro-4-3 .pro-info-hover {
	border-color: #f4c1c5
}

#channel-pro-5-1 .pro-info {
	background-color: #f2ffe8;
	border-color: #f2ffe8
}

#channel-pro-5-1 .pro-info:hover,#channel-pro-5-1 .pro-info-hover {
	border-color: #ead0bf
}

#channel-pro-5-2 .pro-info {
	background-color: #fcefff;
	border-color: #fcefff
}

#channel-pro-5-2 .pro-info:hover,#channel-pro-5-2 .pro-info-hover {
	border-color: #f2c3d2
}

#channel-pro-5-3 .pro-info {
	background-color: #fffce7;
	border-color: #fffce7
}

#channel-pro-5-3 .pro-info:hover,#channel-pro-5-3 .pro-info-hover {
	border-color: #f4cebf
}

.wide .u-4-1 {
	width: 278px
}

.wide .u-4-3 {
	width: 902px
}

.wide .channel-sale .p-name {
	width: 276px
}

.wide .top-banner-img {
	width: 1200px
}