.clearfix {
	display: inline-block;
}

.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	font-size: 0;
	visibility: hidden;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

html {
	color: #666;
	background: #fff;
	overflow: auto;
	overflow-y: scroll;
	height: 100%;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: normal;
}

li {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	*font-size: 100%;
	z-index: -1;
}

input.text {
	line-height: 18px;
	height: 13px;
}

legend {
	color: #000;
}

br {
	letter-spacing: 0px;
}

a {
	text-decoration: none;
}

p {
	margin: 0 0 20px 0;
	line-height: 22px;
}

.center {
	margin: 0px auto;
}

.central {
	text-align: center !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.textleft {
	text-align: left;
}

.textright {
	text-align: right;
}

.middle {
	vertical-align: middle;
}

.clear {
	float: none;
	clear: both;
	font-size: 0px;
	line-height: 0px;
	height: 0px;
	min-height: 0px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.hide {
	display: none;
}

.master {
	width: 1000px;
}

.hr {
	height: 1px;
	line-height: 0px;
	font-size: 0px;
	border-top: solid 1px #f1f1f1;
	margin-top: 10px;
}

.inline {
	display: inline;
}

.hand {
	cursor: pointer;
}

a {
	outline: none;
	color: #069;
}

a img {
	border: none;
}

a:hover {
	text-decoration: underline;
}

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
	line-height: 22px;
}

#slide-index {
	min-width: 1000px;
	width: auto;
	height: 400px;
	top:20px;
	left:175px;
	overflow: hidden;
	position: relative;
}

#slide-index .slides {
	min-width: 1000px;
	width: auto;
	height: 400px;
}

#slide-index .slide {
	min-width: 1000px;
	height: 400px;
	float: left;
	position: relative;
}

#slide-index .image {
	z-index: 1;
	position: absolute;
}

#slide-index .text,#slide-index .button {
	z-index: 2;
	position: absolute;
	top: -500px;
}

#slide-index .button {
	display: none;
	width: 138px;
}

#slide-index .control {
	position: absolute;
	bottom: 0px;
	width: 1000px;
	text-align: center;
	height: 19px;
	cursor: pointer;
	z-index: 40;
}

#slide-index .control a {
	width: 11px;
	height: 11px;
	cursor: pointer;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../../images/recommend_images/checked.gif);
	margin-right: 6px;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

#slide-index .control a:hover,#slide-index .control a.active {
	background-image: url(../../images/recommend_images/unchecked.gif);
	opacity: 1;
	filter: alpha(opacity = 100);
}

.autoMaxWidth {
	overflow: hidden;
	position: relative;
	height: 232px;
}