@CHARSET "UTF-8"; 

.detail .u-3-4 {
	width: 752px;
	position: static
}

.detail .u-1-4 {
	width: 235px
}

.search .u-3-4 {
	width: 741px;
	overflow: hidden
}

.search .u-1-4 {
	width: 243px
}

.pro-ew-area li:before,.pro-ew-area li:after {
	content: " ";
	display: table
}

.pro-ew-area li:after {
	clear: both
}

.pro-ew-area li {
	*zoom: 1
}

.tips-area:before,.tips-area:after {
	content: " ";
	display: table
}

.tips-area:after {
	clear: both
}

.tips-area {
	*zoom: 1
}

.pro-detail-tab-area:before,.pro-detail-tab-area:after {
	content: " ";
	display: table
}

.pro-detail-tab-area:after {
	clear: both
}

.pro-detail-tab-area {
	*zoom: 1
}

.u-1-4 .pro-list li .p-img s,.ecnews-area .b a,.ui-area .before,.ui-area .after,.pro-slogan-area .h,.pro-slogan-area .f,.pro-slogan-area .arrow,.pro-gift-area .h,.pro-gift-area .f,.pro-tab-area a,.pro-tab-area span
	{
	background: transparent url(../../images/echannel/sprites/sprites1.png)
		scroll no-repeat
}

.ui-area .after {
	background: transparent url(../../images/echannel/sprites/sprites2.png)
		scroll no-repeat
}

.pro-suit-area .h h3,.pro-recommend-area .h h3 {
	background: transparent url(../../images/echannel/sprites/sprites11.png)
		scroll no-repeat
}

.button-book {
	background: transparent url(../../images/echannel/btn/btn4.png) scroll
		no-repeat
}

.button-add-cart,.button-notice-arrival,.button-group-2,.button-sellOut,.button-appointment,.button-sellRemind,.button-add-cart-disabled,.button-group-disabled-2
	{
	background: transparent url(../../images/echannel/icon/icon32.png)
		scroll no-repeat
}

.g-l .h .h-tab li,.search .sort-area a,.search-relational-area s {
	background: transparent url(../../images/echannel/bg/bg1.png) scroll
		no-repeat
}

.g-l .h .h-tab a:hover,.g-l .h .h-tab li.current a {
	background: transparent url(../../images/echannel/icon/icon3.png) scroll
		no-repeat
}

.g-l .b,.ecnews-area,.ecnews-area .h,.ecnews-area .h .h-tab,.ecnews-area .b,.pro-tab-area
	{
	background: transparent url(../../images/echannel/bg/bg6.png) scroll
		no-repeat
}

.pro-cate-area .p-operate s,.pro-cate-area .p-default s,.pro-cate-area .p-expand s,.pro-popup-close,.search-area .sort-area s
	{
	background: transparent url(../../images/echannel/icon/icon1.png) scroll
		no-repeat
}

.pro-sku-area .selected s,.pro-ew-area .selected s,.icon-minus-2,.icon-plus-2,.pro-eval-impress .selected s
	{
	background: transparent url(../../images/echannel/icon/icon31.png)
		scroll no-repeat
}

.pro-summary-area {
	background: transparent url(../../images/echannel/bg/bg54.png) scroll
		no-repeat
}

.search-empty-area {
	background: transparent url(../../images/echannel/bg/bg31.png) scroll
		no-repeat
}

.add-success-area .fl s {
	background: transparent url(../../images/echannel/icon/icon11.png)
		scroll no-repeat
}

.popup-extend-area .h {
	background: transparent url(../../images/echannel/bg/bg22.jpg) scroll
		no-repeat
}

.pro-tips-area i,.pro-add-success dt s,.pro-suit-parts-area .and,.suit-master-area .and,.pro-suit-parts-area .p-price s,.pro-comment-item .arrow,.icon-qa,.pro-sku-tips-detail i,.pro-sku-tips-detail s,.sku-select .sku i,.pro-add-error i
	{
	background: transparent url(../../images/echannel/icon/icon33.png)
		scroll no-repeat
}

.pro-gallery-area .pro-gallery-back,.pro-gallery-area .pro-gallery-forward,.pro-action-area .countdown-begin-area s,.pro-action-area .countdown-end-area s,.icon-clear
	{
	background: transparent url(../../images/echannel/icon/icon34.png)
		scroll no-repeat
}

.pro-evaluate-tab-nav li.current {
	background: transparent url(../../images/echannel/icon/icon8.png) scroll
		no-repeat
}

.button-style-1,.button-style-2,.button-style-4,.button-style-disabled-1,.button-style-disabled-2,.button-style-disabled-3,.button-style-disabled-4
	{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-align: center;
	cursor: pointer
}

.button-style-1:hover,.button-style-2:hover,.button-style-4:hover,.button-style-disabled-1:hover,.button-style-disabled-2:hover,.button-style-disabled-3:hover,.button-style-disabled-4:hover
	{
	text-decoration: none
}

.button-style-1 {
	border: 1px solid #e01d20;
	background-color: #e01d20;
	color: #FFF
}

.button-style-disabled-1 {
	background-color: #f6bbbc;
	border: 1px solid #f6bbbc;
	color: #FFF;
	cursor: not-allowed
}

.button-style-2 {
	border: 1px solid #ff5c14;
	background-color: #ff5c14;
	color: #FFF
}

.button-style-2:hover {
	background-color: #ff7d43;
	border-color: #ff7d43
}

.button-style-2:active {
	background-color: #e55312;
	border-color: #e55312;
	color: #e5e5e5
}

.button-style-disabled-2 {
	border: 1px solid #b6b6b6;
	background-color: #b6b6b6;
	color: #f0f0f0;
	cursor: not-allowed
}

.button-style-disabled-3 {
	border: 1px solid #f1f1f1;
	background-color: #fdfdfd;
	color: #CCC;
	cursor: not-allowed
}

.button-style-4 {
	border: 1px solid #d1d1d1;
	background-color: #f7f7f7;
	background-color: rgba(0, 0, 0, .03)
}

.button-style-4:hover {
	background-color: #f9f9f9;
	border-color: #dadada;
	color: #5c5c5c
}

.button-style-4:active {
	background-color: #eaeaea;
	border-color: #c6c6c6;
	color: #303030
}

.button-style-disabled-4 {
	border: 1px solid #f1f1f1;
	background-color: #fdfdfd;
	color: #c1c1c1;
	cursor: not-allowed
}

.button-interest,.button-sellOut,.button-notice-arrival,.button-add-cart,.button-book-2,.button-book-disabled-2,.button-buy,.button-buy-disabled,.button-appointment,.button-group-2,.button-buy-nostart,.button-buy-start,.button-buy-over,.button-sellRemind,.button-add-cart-disabled,.button-group-disabled-2,.button-event,.button-event-disabled
	{
	width: 188px;
	height: 40px;
	line-height: 40px;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	font-size: 16px
}

.button-sellOut {
	background-position: 53px -500px;
	text-align: left;
	text-indent: 80px
}

.button-sellRemind {
	text-align: left;
	background-position: 39px -142px;
	text-indent: 70px
}

.button-sellRemind:hover {
	background-position: 39px -183px
}

.button-sellRemind:active {
	background-position: 39px -224px
}

.button-notice-arrival {
	background-position: 38px -264px;
	text-align: left;
	text-indent: 70px
}

.button-notice-arrival:hover {
	background-position: 38px -302px
}

.button-notice-arrival:active {
	background-position: 38px -340px
}

.button-add-cart,.button-group-2 {
	background-position: 29px 11px;
	text-align: left;
	text-indent: 62px
}

.button-add-cart:hover,.button-group-2:hover {
	background-position: 29px -27px
}

.button-add-cart:active,.button-group-2:active {
	background-position: 29px -65px
}

.button-add-cart-disabled,.button-group-disabled-2 {
	background-position: 29px -103px;
	text-align: left;
	text-indent: 62px
}

.button-appointment {
	text-align: left;
	background-position: 40px -379px;
	text-indent: 69px
}

.button-appointment:hover {
	background-position: 40px -419px
}

.button-appointment:active {
	background-position: 40px -459px
}

.button-go-cart,.button-walking,.button-go-extend-checkout,.button-go-extend-checkout-disabled,.button-par-define
	{
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	font-size: 14px;
	width: 118px;
	height: 35px;
	line-height: 35px
}

.button-add-cart-2 {
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	font-size: 14px;
	width: 122px;
	height: 31px;
	line-height: 29px
}

.button-add-cart-3,.button-notice-arrival-2 {
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	font-size: 14px;
	width: 124px;
	height: 33px;
	line-height: 33px
}

.button-comment,.button-comment-disabled {
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	font-size: 14px;
	width: 89px;
	height: 25px;
	line-height: 25px
}

.button-extend-search {
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	font-size: 14px;
	width: 136px;
	height: 35px
}

.button-inquire-sumbit,.button-eval-sumbit {
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	font-size: 14px;
	width: 100px;
	height: 37px
}

.icon-clear {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 17px;
	height: 18px;
	background-position: 0 -116px
}

.icon-clear:hover {
	background-position: -27px -116px
}

.icon-clear:active {
	background-position: -54px -116px
}

.icon-minus-2,.icon-plus-2,.icon-minus-disabled-2,.icon-plus-disabled-2
	{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 24px;
	height: 24px
}

.stock-area .icon-minus-2 {
	border: 1px solid #b2b2b2;
	background-color: #FFF;
	background-position: -12px 11px
}

.stock-area .icon-minus-2:hover {
	border-color: #d9d9d9;
	background-position: -40px 11px
}

.stock-area .icon-minus-2:active {
	border-color: #a9a9a9;
	background-color: #f2f2f2;
	background-position: -68px 11px
}

.stock-area .icon-minus-disabled-2 {
	background-position: -96px 11px;
	background-color: #FFF;
	border: 1px solid #e8e8e8
}

.stock-area .icon-plus-2 {
	border: 1px solid #b2b2b2;
	background-color: #FFF;
	background-position: -12px -14px
}

.stock-area .icon-plus-2:hover {
	border-color: #d9d9d9;
	background-position: -40px -14px
}

.stock-area .icon-plus-2:active {
	border-color: #a9a9a9;
	background-color: #f2f2f2;
	background-position: -68px -14px
}

.stock-area .icon-plus-disabled-2 {
	background-position: -96px -14px;
	background-color: #FFF;
	border: 1px solid #e8e8e8
}

.icon-qa {
	padding: 2px 0 2px 22px;
	background-position: -44px -100px
}

.u-1-4 .pro-list li {
	border-top: 1px solid #dedede;
	padding: 12px 12px 12px 10px
}

.u-1-4 .pro-list li div {
	_zoom: 1
}

.u-1-4 .pro-list li .p-img {
	float: left;
	width: 56px;
	position: absolute;
	*position: relative
}

.u-1-4 .pro-list li .p-img img {
	width: 56px;
	height: 56px;
	display: block;
	vertical-align: top
}

.u-1-4 .pro-list li .p-img s {
	position: absolute;
	top: -12px;
	left: -10px;
	width: 23px;
	height: 23px
}

.u-1-4 .pro-list li .p-img s.s1 {
	background-position: 0 0
}

.u-1-4 .pro-list li .p-img s.s2 {
	background-position: -33px 0
}

.u-1-4 .pro-list li .p-img s.s3 {
	background-position: -66px 0
}

.u-1-4 .pro-list li .p-img s.s4 {
	background-position: -99px 0
}

.u-1-4 .pro-list li .p-img s.s5 {
	background-position: -132px 0
}

.u-1-4 .pro-list li .p-img s.s6 {
	background-position: -165px 0
}

.u-1-4 .pro-list li .p-name,.u-1-4 .pro-list li .p-price {
	margin-left: 56px;
	padding-left: 17px;
	*zoom: 1
}

.u-1-4 .pro-list li .p-name {
	height: 36px;
	margin-bottom: 3px;
	overflow: hidden;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.u-1-4 .pro-list li .p-name a {
	color: #666
}

.u-1-4 .pro-list li .p-price b {
	color: #e01d20;
	font-weight: 400
}

.u-1-4 .pro-list li .p-price em {
	color: #e01d20;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.banner-area {
	border: 1px solid #DDD;
	width: 729px;
	overflow: hidden
}

.banner-area .ec-slider {
	height: 230px
}

.banner-area .ec-slider-item-img {
	width: 729px
}

.banner-area .ec-slider-nav {
	margin-left: 93px
}

.ec_slider,.ec_slider ul,.ec_slider li {
	overflow: hidden
}

.ec_slider {
	position: relative;
	background-color: #FFF
}

.ec_slider ul {
	position: absolute;
	height: 100%
}

.ec_slider ul li {
	height: 100%;
	float: left;
	position: relative
}

.ec_slider .btnBg {
	position: absolute;
	height: 27px;
	left: 0;
	bottom: 0;
	background: #000;
	display: none
}

.ec_slider .btn {
	position: absolute;
	height: 15px;
	padding: 5px 10px;
	right: 0;
	bottom: 0;
	text-align: right;
	font-size: 0
}

.ec_slider .btn span {
	display: inline-block;
	_display: inline;
	_zoom: 1;
	width: 10px;
	height: 10px;
	_font-size: 0;
	margin-left: 5px;
	cursor: pointer;
	background: #d2d1cf;
	border-radius: 2px;
	opacity: .6;
	filter: alpha(opacity = 60)
}

.ec_slider .btn span.on {
	width: 12px;
	height: 12px;
	opacity: 1;
	filter: alpha(opacity = 100);
	background-color: #fe3d40
}

.ec_slider .pre {
	left: 0
}

.ec_slider .next {
	right: 0;
	_right: -1px;
	background-position: right top
}

.ec_slider .img {
	width: 730px;
	height: 230px
}

.g-l {
	overflow: hidden
}

.g-l .h {
	height: 32px;
	line-height: 32px;
	border-bottom: 3px solid #e10000;
	overflow: hidden
}

.g-l .h h2 {
	float: left;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	font-size: 21px;
	color: #C00;
	padding-right: 25px;
	background-color: #FFF;
	position: relative;
	z-index: 2
}

.g-l .h h2 a {
	color: #C00
}

.g-l .h h2 a:hover {
	text-decoration: none
}

.g-l .h .h-tab {
	float: left;
	position: relative;
	left: -1px;
	_left: -4px
}

.g-l .h .h-tab li {
	float: left;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 700;
	padding: 0 15px;
	background-position: left -337px;
	*background-position: left -338px
}

.g-l .h .h-tab li.current {
	color: #C00
}

.g-l .h .h-tab a {
	display: inline-block
}

.g-l .h .h-tab a:hover,.g-l .h .h-tab li.current a {
	text-decoration: none;
	color: #C00;
	background-position: center 25px
}

.g-l .h .fr a:hover {
	color: #C00;
	text-decoration: none
}

.g-l .b {
	background-position: left 0;
	background-repeat: repeat-y;
	margin-right: -1px
}

.g-l-none .b,.g-l-none .pro-list {
	background-image: none
}

.g-l-none .h .fr {
	padding-top: 3px
}

.hot-area,.rl-area,.bp-area,.pro-desc-area {
	border: 1px solid #dedede;
	background-color: #FFF
}

.hot-area .h,.rl-area .h,.bp-area .h,.pro-desc-area .h {
	height: 47px;
	background-color: #f7f7f7
}

.hot-area .h h3,.rl-area .h h3,.bp-area .h h3,.pro-desc-area .h h3 {
	line-height: 47px;
	text-indent: 14px;
	font-size: 14px;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.rl-area .h .fr {
	padding: 15px 16px 0 0
}

.rl-area .h a {
	color: #f96209;
	display: block;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden
}

.hot-area .b,.rl-area .b,.bp-area .b,.pro-desc-area .b {
	overflow: hidden
}

.pro-desc-area .b {
	border-top: 1px solid #dedede;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	padding: 0 0 30px
}

.pro-desc-area .p-img {
	text-align: center;
	padding: 20px 0
}

.pro-desc-area .p-img img {
	vertical-align: top;
	width: 180px;
	height: 180px
}

.pro-desc-area .p-name {
	font-size: 14px;
	line-height: 20px;
	padding: 0 15px 6px
}

.pro-desc-area .p-name label {
	color: #666
}

.pro-desc-area .p-price {
	padding: 0 15px
}

.pro-desc-area .p-price label {
	color: #666
}

.pro-desc-area .p-price b {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #e01d20;
	font-weight: 400;
	position: relative;
	top: 1px
}

.pro-desc-area .p-evaluate {
	padding-left: 15px
}

.pro-desc-area .p-evaluate label {
	color: #666
}

.pro-desc-area .pro-star {
	position: relative;
	top: 1px
}

.pro-desc-area .p-evaluate em {
	color: #5f5f5f
}

.pro-desc-area .p-button {
	text-align: center;
	padding-top: 22px
}

.pro-cate-area {
	border: 1px solid #dedede;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-cate-attr {
	border-bottom: 1px solid #dedede
}

.pro-cate-area a:hover {
	text-decoration: none
}

.pro-cate-area .p-title {
	float: left;
	text-align: right;
	width: 86px;
	padding-top: 16px
}

.pro-cate-area .p-default {
	float: left;
	padding: 16px 0 0 10px
}

.pro-cate-area .p-values {
	margin-left: 140px;
	padding: 10px 0
}

.pro-cate-area .p-expand {
	margin-right: 80px;
	overflow: hidden;
	height: 30px
}

.pro-cate-area .p-expand li {
	float: left;
	margin-right: 20px;
	padding: 6px 0;
	height: 18px;
	white-space: nowrap
}

.pro-cate-area .p-default a,.pro-cate-area .p-expand a {
	color: #999;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top
}

.pro-cate-area .p-default a:hover,.pro-cate-area .p-expand a:hover {
	color: #666
}

.pro-cate-area .p-default a:active,.pro-cate-area .p-expand a:active {
	color: #333
}

.pro-cate-area .p-default .selected a,.pro-cate-area .p-expand .selected a
	{
	color: #e01d20
}

.pro-cate-sort .sort-sale,.pro-cate-sort .sort-price,.pro-cate-sort .sort-eval,.pro-cate-sort .sort-added
	{
	padding-right: 12px;
	position: relative
}

.pro-cate-sort .p-expand s {
	position: absolute;
	right: 0;
	top: 50%;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 8px
}

.pro-cate-sort .sort-eval s {
	margin-top: -3px;
	*margin-top: -5px;
	_margin-top: -3px;
	height: 8px
}

.pro-cate-sort .sort-eval s {
	background-position: 0 -29px
}

.pro-cate-sort .sort-asc .sort-eval s {
	background-position: 0 -47px
}

.pro-cate-sort .sort-desc .sort-eval s {
	background-position: 0 -52px
}

.pro-cate-sort .sort-sale s,.pro-cate-sort .sort-price s,.pro-cate-sort .sort-added s
	{
	height: 10px;
	margin-top: -5px;
	*margin-top: -6px;
	_margin-top: -4px
}

.pro-cate-sort .sort-sale s,.pro-cate-sort .sort-price s,.pro-cate-sort .sort-added s
	{
	background-position: 0 -70px
}

.pro-cate-sort .sort-asc .sort-sale s,.pro-cate-sort .sort-asc .sort-price s,.pro-cate-sort .sort-asc .sort-added s
	{
	background-position: 0 -90px
}

.pro-cate-sort .sort-desc .sort-sale s,.pro-cate-sort .sort-desc .sort-price s,.pro-cate-sort .sort-desc .sort-added s
	{
	background-position: 0 -110px
}

.pro-cate-area .p-operate {
	float: right;
	padding: 6px 20px 6px 0
}

.pro-cate-area .p-operate .more {
	color: #666;
	padding-right: 20px;
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.pro-cate-area .p-operate .more:hover {
	color: #999
}

.pro-cate-area .p-operate .more:active {
	color: #333
}

.pro-cate-area .p-operate .more s {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -2.5px;
	*margin-top: -3px;
	_margin-top: -2.5px;
	width: 9px;
	height: 5px;
	font-size: 0;
	line-height: 0;
	overflow: hidden
}

.pro-cate-area .p-operate .more-expand s {
	background-position: -18px -28px
}

.pro-cate-area .p-operate .more-expand:hover s {
	background-position: -18px -47px
}

.pro-cate-area .p-operate .more-expand:active s {
	background-position: -18px -66px
}

.pro-cate-area .p-operate .more-drop s {
	background-position: -18px -24px
}

.pro-cate-area .p-operate .more-drop:hover s {
	background-position: -18px -43px
}

.pro-cate-area .p-operate .more-drop:active s {
	background-position: -18px -62px
}

.channel-list {
	text-align: right
}

.channel-list .pro-list {
	width: 1220px;
	_margin-right: -20px;
	padding-bottom: 20px
}

.channel-list .pro-list li {
	float: left;
	width: 20%
}

.channel-list .pro-list .pro-panels {
	margin: 0 20px 20px 0;
	border: 1px solid #dedede;
	height: 362px;
	position: relative;
	text-align: center;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	overflow: hidden
}

.channel-list .pro-list .pro-panels:hover,.channel-list .pro-list .hover
	{
	border-color: #e01d20
}

.channel-list .pro-list .p-img {
	padding: 12px 0 10px;
	text-align: center
}

.channel-list .pro-list .p-img img {
	vertical-align: top;
	width: 218px;
	height: 218px
}

.channel-list .pro-list .p-name {
	line-height: 16px;
	padding: 0 20px;
	height: 48px;
	overflow: hidden
}

.channel-list .pro-list .p-name a {
	color: #666
}

.channel-list .pro-list .p-name a:hover {
	color: #e01d20
}

.channel-list .pro-list .p-price {
	padding-top: 3px;
	color: #e01d20;
	line-height: 30px
}

.channel-list .pro-list .p-price b {
	font-size: 20px;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif
}

.channel-list .pro-list .p-price em {
	font-size: 16px
}

.channel-list .pro-list .p-button {
	position: absolute;
	left: -1px;
	width: 224px;
	bottom: -1px
}

.channel-list .pro-list .p-button table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse
}

.channel-list .pro-list .p-button td {
	border: 1px solid #dedede
}

.channel-list .pro-list .p-button a,.channel-list .pro-list .p-button label
	{
	display: block;
	height: 30px;
	line-height: 30px;
	color: #666;
	overflow: hidden;
	white-space: nowrap
}

.channel-list .pro-list .p-button .p-button-cart,.channel-list .pro-list .p-button .p-button-an
	{
	color: #e01d20
}

.channel-list .pro-list .p-button .p-button-cart-disabled,.channel-list .pro-list .p-button .p-button-an-disabled
	{
	cursor: not-allowed;
	background-color: #e01d20;
	color: #FFF
}

.channel-list .pro-list .p-button a:hover {
	text-decoration: none;
	background-color: #e01d20;
	color: #FFF
}

.channel-list .pro-list .p-tag {
	position: absolute;
	top: 0;
	left: 0
}

.pro-summary-area {
	border: 1px solid #dedede;
	background-color: #FFF;
	background-position: 549px 0;
	background-repeat: repeat-y;
	position: relative
}

.pro-summary-area .left-area {
	width: 548px
}

.pro-summary-area .right-area {
	width: 450px;
	position: relative
}

.pro-property-area {
	padding: 36px 0 138px;
	position: relative;
	min-height: 466px;
	_height: 466px
}

.pro-property-area h1,.pro-slogan,.pro-evaluate,.pro-ew-area,.pro-promotions-area,.pro-sku-area,.pro-coding,.pro-stock-area,.pro-freight,.pro-service,.pro-price,.pro-tips-area
	{
	padding-left: 30px;
	padding-right: 30px;
	1
	px
	solid
	#CCC
}

.pro-meta-area {
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-property-area h1 {
	font-size: 20px;
	line-height: 25px
}

.pro-property-area .line {
	font-size: 1px;
	line-height: 1px;
	height: 0;
	border-bottom: 1px solid #dedede
}

.pro-coding,.pro-evaluate,.pro-freight,.pro-service {
	padding-top: 2px;
	padding-bottom: 2px
}

.pro-coding label,.pro-evaluate label,.pro-freight label,.pro-service label
	{
	padding-right: 6px;
	display: inline-block;
	width: 60px;
	text-align: right
}

.pro-evaluate .pro-star {
	position: relative;
	top: 1px
}

.pro-slogan {
	font-size: 16px;
	color: #e01d20;
	line-height: 20px;
	padding-top: 6px;
	padding-bottom: 6px
}

.pro-slogan a {
	color: #e01d20
}

.pro-price {
	padding-top: 3px
}

.pro-price b {
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	color: #e01d20;
	font-size: 24px;
	position: relative;
	top: 2px
}

.pro-price em {
	font-size: 16px;
	font-weight: 700
}

.pro-price s {
	margin-right: 15px
}

.pro-price label {
	padding-right: 6px
}

.pro-promotions-area dl {
	line-height: 18px;
	color: #e01d20;
	margin-bottom: -2px
}

.pro-promotions-area dt {
	float: left;
	padding-right: 6px
}

.pro-promotions-area dd {
	float: left;
	width: 340px
}

.pro-promotions-area li {
	padding-bottom: 4px
}

.pro-promotions-area a {
	color: #e01d20
}

.pro-sku-area dl,.pro-ew-area dl {
	*padding-bottom: 10px
}

.pro-sku-text dt {
	line-height: 26px
}

.pro-sku-text dd {
	line-height: 18px
}

.pro-sku-area dt,.pro-ew-area dt {
	float: left;
	padding-right: 6px
}

.pro-sku-img dt {
	line-height: 40px
}

.pro-sku-area dd,.pro-ew-area dd {
	float: left;
	width: 330px
}

.pro-sku-area li,.pro-ew-area li {
	float: left;
	margin: 0 10px 10px 0;
	*zoom: 1;
	vertical-align: top
}

.pro-sku-area .sku,.pro-ew-area .sku {
	float: left;
	position: relative;
	text-align: center;
	cursor: pointer;
	font-family: \5FAE\8F6F\96C5\9ED1, Arial, Helvetica, sans-serif
}

.pro-sku-tips {
	padding-left: 6px;
	line-height: 26px;
	float: left
}

.pro-sku-tips a {
	color: #28c0c6;
	text-decoration: underline
}

.pro-ew-area li {
	position: relative;
	white-space: nowrap;
	*zoom: 1
}

.pro-ew-area li.hover {
	z-index: 2
}

.pro-ew-area ul {
	position: absolute;
	background-color: #FFF;
	top: 26px;
	left: 0;
	display: none;
	z-index: 2
}

.pro-ew-area li.hover ul {
	display: block
}

.pro-ew-area ul li {
	margin: 0
}

.pro-ew-area ul .sku {
	float: none;
	*zoom: 1
}

.pro-sku-area .sku a,.pro-ew-area .sku a,.pro-ew-area .selected li .sku a
	{
	display: block;
	border: 1px solid #b2b2b2
}

.pro-ew-area .sku a {
	text-align: left
}

.pro-sku-img .sku span {
	display: block;
	margin-bottom: -2px;
	_padding-top: 2px;
	white-space: nowrap
}

.pro-sku-text .sku a {
	padding: 3px 8px;
	white-space: nowrap
}

.pro-sku-text .sku-select .sku a {
	padding-right: 22px
}

.pro-sku-area a:hover,.pro-ew-area a:hover {
	text-decoration: none
}

.pro-sku-area .sku img {
	width: 38px;
	height: 38px;
	vertical-align: top;
	padding: 1px
}

.pro-sku-area .sku a:hover,.pro-ew-area .sku a:hover,.pro-ew-area .selected li .sku a:hover
	{
	border-color: #999
}

.pro-sku-area .selected .sku a,.pro-ew-area .selected .sku a,.pro-sku-area .selected .sku a:hover,.pro-ew-area .selected .sku a:hover
	{
	border-color: #e01d20
}

.pro-ew-area .selected .selected .sku a {
	border-color: #e01d20 !important
}

.pro-ew-area .sku {
	position: relative
}

.pro-ew-area .selected>.sku {
	z-index: 3
}

.pro-ew-area ul .sku {
	margin-top: -1px;
	z-index: 1
}

.pro-ew-area ul li:hover>.sku {
	position: relative;
	z-index: 2
}

.pro-ew-area .selected ul .sku {
	_position: static
}

.pro-ew-area .selected .selected .sku {
	_position: relative;
	z-index: 4
}

.pro-ew-area .sku a {
	position: relative;
	_position: static;
	overflow: hidden
}

.pro-ew-area li,.pro-ew-area .sku a,.pro-ew-area .selected li .sku a {
	z-index: 1
}

.pro-ew-area li:hover,.pro-ew-area li:hover>.sku>a {
	z-index: 2
}

.pro-ew-area .selected,.pro-ew-area .selected .sku a,.pro-ew-area .selected>.sku
	{
	z-index: 3
}

.pro-ew-area .selected li .sku s {
	display: none
}

.pro-sku-area .selected .sku s,.pro-ew-area .selected .sku s,.pro-ew-area .selected .selected .sku s
	{
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	line-height: 1px;
	font-size: 1px;
	right: 1px;
	bottom: 1px;
	background-position: 0 0
}

.pro-sku-area .pro-sku-img .selected .sku s {
	top: 31px
}

.pro-sku-area .sku-select .sku i,.pro-ew-area .sku-select .sku i {
	position: absolute;
	right: 6px;
	top: 50%;
	margin-top: -2.5px;
	width: 9px;
	height: 5px;
	font-size: 1px;
	line-height: 1px;
	background-position: -93px -105px
}

.pro-sku-area li:hover .sku i,.pro-sku-area .hover .sku i .pro-ew-area li:hover .sku i,.pro-ew-area .hover .sku i
	{
	background-position: -93px -100px
}

.pro-sku-area .disabled,.pro-sku-area .disabled .sku a {
	cursor: not-allowed;
	color: #c1c1c1
}

.pro-sku-area .disabled .sku a {
	border-color: #e8e8e8;
	background-color: #FFF
}

.pro-sku-img .disabled {
	color: #c1c1c1
}

.pro-sku-area .disabled .sku img {
	opacity: .3;
	filter: alpha(opacity = 30)
}

.pro-tips-area {
	padding-top: 15px
}

.pro-tips-area .tips-area {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	border: 1px solid #d2d2d2;
	background-color: #f2f2f2;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .05)
}

.pro-tips-area i {
	float: left;
	width: 14px;
	height: 14px;
	margin: 10px 0 0 9px
}

.pro-tips-area .tips-text {
	margin-left: 32px;
	overflow: hidden;
	font-size: 12px;
	padding: 8px 10px 8px 0;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-tips-area .tips-text a {
	color: #28c0c6;
	text-decoration: underline
}

.pro-stock-area {
	*zoom: 1
}

.pro-stock-area dt {
	float: left;
	line-height: 26px;
	padding-right: 6px
}

.pro-stock-area dd {
	float: left
}

.pro-stock-area input {
	border-color: #b2b2b2;
	height: 22px !important;
	line-height: 22px !important;
	width: 43px;
	margin: 0 5px
}

.pro-fixed-action {
	padding-left: 30px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px
}

.pro-selected {
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	padding-bottom: 10px
}

.pro-selected b {
	color: #e01d20;
	font-weight: 400
}

.pro-action-area {
	font-size: 0
}

.pro-action-area a {
	margin: 0 20px 0 0;
	vertical-align: top;
	float: left
}

.pro-action-area .countdown-begin-area,.pro-action-area .countdown-end-area
	{
	float: left;
	font-size: 12px;
	line-height: 1.2;
	vertical-align: top;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	padding: 19px 0 0 0;
	height: 25px;
	position: relative;
	overflow: hidden;
	left: -8px
}

.pro-action-area .countdown-begin-area s,.pro-action-area .countdown-end-area s
	{
	position: absolute;
	width: 96px;
	height: 19px;
	overflow: hidden;
	left: 50%;
	margin-left: -48px;
	top: 0
}

.pro-action-area .countdown-begin-area s {
	background-position: 0 -58px
}

.pro-action-area .countdown-end-area s {
	background-position: 0 -87px
}

.pro-action-area .countdown-begin-area b,.pro-action-area .countdown-end-area b
	{
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #e01d20;
	position: relative;
	top: 1px;
	padding: 0 7px;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.pro-action-area p {
	color: #3f8d02;
	height: 15px;
	line-height: 15px;
	margin: 4px 0 2px 8px
}

.pro-action-area p b {
	color: #ee7701;
	font-family: Tahoma
}

.pro-action-area p em {
	color: #ee7701
}

.pro-agreement-area {
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	clear: both;
	padding-top: 6px;
	margin-bottom: -6px;
	*margin-bottom: 0
}

.pro-agreement-area input {
	margin-right: 6px
}

.pro-agreement-area label {
	font-family: "Tahoma", 微软雅黑
}

.pro-agreement-area a {
	color: #28c0c6
}

.pro-popup-area {
	width: 428px;
	position: absolute;
	bottom: 30px;
	left: 30px;
	border: 1px solid #d2d2d2;
	background-color: #f2f2f2;
	z-index: 50
}

.pro-popup-area .h {
	font-size: 0;
	line-height: 0;
	position: relative
}

.pro-popup-close {
	position: absolute;
	width: 11px;
	height: 11px;
	line-height: 0;
	font-size: 0;
	right: 10px;
	top: 10px;
	background-position: -170px 0;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap
}

.pro-add-success dt {
	float: left
}

.pro-add-success dt s {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 72px;
	height: 72px;
	margin: 29px 0 0 29px;
	background-position: -34px 0
}

.pro-add-success dd {
	margin-left: 131px;
	overflow: hidden;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	padding: 30px 0
}

.pro-add-success-name {
	font-size: 14px;
	word-break: break-all;
	word-wrap: break-word;
	padding: 0 30px 6px 0
}

.pro-add-success-msg {
	font-size: 18px;
	color: #7abd54;
	padding-bottom: 26px
}

.pro-add-success-total {
	padding: 0 30px 6px 0
}

.pro-add-success-total em,.pro-add-success-total b {
	color: #e01d20;
	font-size: 14px;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif
}

.pro-add-success-button a {
	margin-right: 10px
}

.pro-add-error {
	padding: 47px 0 30px;
	text-align: center;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-add-error i {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 72px;
	height: 72px;
	background-position: -116px 0
}

.pro-add-error-msg {
	text-align: center;
	font-size: 14px;
	color: #ff5f00;
	padding: 23px 0 30px
}

.pro-extend-area {
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	padding: 25px 30px 30px
}

.pro-extend-area h3 {
	font-size: 14px;
	padding-bottom: 25px;
	text-align: center;
	font-weight: 700
}

.pro-extend-search {
	padding-bottom: 17px
}

.pro-extend-search .text {
	width: 198px;
	padding: 7px 10px 8px;
	margin-right: 10px
}

.pro-extend-result {
	color: #e01d20;
	height: 30px
}

.pro-extend-result a {
	color: #28c0c6;
	text-decoration: underline
}

.pro-extend-tips {
	font-size: 12px;
	padding-bottom: 27px
}

.pro-extend-button {
	text-align: center
}

.pro-gallery-area {
	width: 400px;
	margin: 0 auto
}

.pro-gallery-area .pro-gallery-img {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	margin-top:-150px;
	margin-left:100px;
}

.pro-gallery-area .pro-gallery-img img {
	display: block;
	width: 300px;
	height: 300px;
	margin-left:100px
}

.pro-gallery-area .pro-gallery-nav {
	width: 430px;
	height: 70px;
	position: absolute;
	bottom: 30px;
	left: 55px
}

.pro-gallery-area .pro-gallery-back,.pro-gallery-area .pro-gallery-forward
	{
	position: absolute;
	width: 12px;
	height: 22px;
	top: 50%;
	margin-top: 0px
}


.pro-gallery-area .pro-gallery-thumbs {
	width: 430px;
	height: 70px;
	overflow: hidden;
	position: relative
}

.pro-gallery-area .pro-gallery-thumbs ul {
	width: 500%;
	position: absolute;
	left: 0;
	top: 0
}

.pro-gallery-area .pro-gallery-thumbs li {
	float: left;
	padding-right: 20px
}

.pro-gallery-area .pro-gallery-thumbs li a {
	display: block;
	width: 64px;
	height: 64px;
	border: 1px solid #d2d2d2;
	padding: 2px
}

.pro-gallery-area .pro-gallery-thumbs .current a,.pro-gallery-area .pro-gallery-thumbs li a:hover
	{
	border: 3px solid #eb8d91;
	padding: 0
}

.pro-gallery-area .pro-gallery-thumbs li img {
	display: block;
	vertical-align: top;
	width: 64px;
	height: 64px
}

.pro-suit-area,.pro-recommend-area {
	border: 1px solid #dedede;
	background-color: #FFF;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-suit-area .h h3,.pro-recommend-area .h h3 {
	display: none
}

.pro-suit-area .h-tab,.pro-recommend-area .h-tab {
	background-color: #f7f7f7
}

.pro-suit-area .h-tab ul,.pro-recommend-area .h-tab ul {
	border-bottom: 1px solid #dedede
}

.pro-suit-area .h-tab li,.pro-recommend-area .h-tab li {
	float: left;
	padding-top: 1px;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	background-color: #FFF;
	margin-bottom: -1px;
	position: relative
}

.pro-suit-area .h-tab li.current,.pro-recommend-area .h-tab li.current {
	border-top: 1px solid #e01d20;
	padding-top: 0;
	border-bottom-color: #FFF
}

.pro-suit-area .h-tab a,.pro-recommend-area .h-tab a {
	display: block;
	min-width: 84px;
	_width: 84px;
	padding: 0 15px;
	height: 46px;
	line-height: 44px;
	font-size: 14px;
	text-align: center
}

.pro-suit-area .h-tab a:hover,.pro-recommend-area .h-tab a:hover {
	text-decoration: none
}

.pro-suit-area .h-tab .current a,.pro-suit-area .h-tab a:hover,.pro-recommend-area .h-tab .current a,.pro-recommend-area .h-tab a:hover
	{
	color: #e01d20
}

.pro-suit-area .pro-main,.pro-recommend-area .pro-main {
	float: left;
	width: 100%;
	_width: auto;
	_margin-right: 210px
}

.pro-suit-parts-list {
	overflow: hidden;
	border-right: 1px solid #dedede;
	_width: 100%;
	position: relative;
	*zoom: 1;
	margin-right: 210px;
	_margin-right: 0
}

.pro-suit-parts-area li {
	position: relative;
	float: left;
	padding: 0 15px 12px 0
}

.pro-suit-parts-area .suit-area,.pro-suit-parts-area .suit-master-area {
	width: 152px;
	text-align: center
}

.pro-suit-parts-area .p-img {
	padding: 20px 0 9px
}

.pro-suit-parts-area .p-img a {
	display: block;
	margin: 0 auto;
	width: 110px;
	height: 110px;
	border: 1px solid #dedede
}

.pro-suit-parts-area .p-img img {
	width: 100%;
	height: 100%;
	vertical-align: top
}

.pro-suit-parts-area .p-name {
	padding: 0 20px;
	line-height: 18px;
	height: 36px;
	overflow: hidden
}

.pro-suit-area .suit-area .p-price,.pro-recommend-area .suit-area .p-price,.pro-recommend-area .suit-master-area .p-price
	{
	padding-top: 6px;
	*padding-bottom: 2px
}

.pro-suit-area .suit-area .p-price em,.pro-recommend-area .suit-area .p-price em,.pro-recommend-area .suit-master-area .p-price em
	{
	font-size: 14px;
	color: #e01d20;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif
}

.pro-suit-parts-area .suit-area .p-price em {
	cursor: pointer
}

.pro-suit-parts-area .p-price s {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 14px;
	height: 14px;
	overflow: hidden;
	border: 1px solid #b2b2b2;
	background-position: 18px 18px;
	margin-right: 10px;
	cursor: pointer
}

.pro-suit-parts-area .suit-area .selected s {
	border-color: #e01d20;
	background-position: -23px -72px
}

.pro-suit-parts-area .and {
	display: block;
	width: 15px;
	height: 15px;
	background-position: 0 -75px;
	position: absolute;
	left: -15px;
	top: 69px;
	z-index: 1
}

.pro-suit-area .pro-sub,.pro-recommend-area .pro-sub {
	position: relative;
	float: left;
	width: 210px;
	margin-left: -210px;
	font-family: \5FAE\8F6F\96C5\9ED1, Arial, Helvetica, sans-serif
}

.pro-suit-area .pro-suit-cost-area {
	padding-top: 38px
}

.pro-recommend-area .pro-suit-cost-area {
	padding-top: 75px
}

.pro-suit-cost-area p {
	text-align: center
}

.pro-suit-cost-area b {
	color: #e01d20;
	font-size: 16px;
	font-weight: 400;
	display: block;
	margin-bottom: 2px
}

.pro-suit-cost-button {
	padding-top: 12px
}

.pro-suit-cost-agreement {
	padding-top: 6px
}

.pro-suit-cost-agreement input {
	margin-right: 6px
}

.pro-suit-cost-agreement label {
	font-family: \5FAE\8F6F\96C5\9ED1, Arial, Helvetica, sans-serif
}

.pro-suit-cost-agreement a {
	color: #28c0c6
}

.pro-detail-tool {
	margin-bottom: -1px
}

.pro-detail-area .tool-fixed-holder {
	height: 50px
}

.tool-fixed .pro-detail-tab {
	width: 998px
}

.pro-detail-tab {
	background-color: #f7f7f7;
	border: 1px solid #dedede
}

.pro-detail-tab-nav {
	float: left
}

.pro-detail-tab-nav h1 {
	padding-left: 17px;
	height: 47px;
	line-height: 47px;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	font-size: 14px
}

.pro-detail-tab-nav li {
	float: left;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	background-color: #FFF;
	margin-bottom: -1px;
	position: relative;
	padding-top: 1px
}

.pro-detail-tab-nav li.current {
	border-top: 1px solid #e01d20;
	border-bottom-color: #FFF;
	padding-top: 0
}

.pro-detail-tab-nav a {
	display: block;
	min-width: 74px;
	_width: 74px;
	padding: 0 20px;
	height: 47px;
	line-height: 47px;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	font-size: 14px;
	text-align: center;
	white-space: nowrap
}

.pro-detail-tab-nav a:hover {
	text-decoration: none
}

.pro-detail-tab-nav .current a,.pro-detail-tab-nav a:hover {
	color: #e01d20
}

.pro-detail-tab-button {
	display: none;
	float: right;
	padding: 7px 7px 0 0
}

.tool-fixed .pro-detail-tab-button {
	display: block
}

.pro-detail-tab-button a {
	margin-left: 10px
}

.pro-detail-tab-link {
	float: right;
	padding: 13px 16px 0 0
}

.pro-detail-tab-link a {
	font-size: 14px;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-detail-tab-area {
	border: 1px solid #dedede;
	background-color: #FFF;
	margin-bottom: 20px
}

.pro-feature-area {
	width: 750px
}

.pro-feature-area img {
	vertical-align: top
}

.pro-disclaimer-area {
	padding: 0 10px 20px
}

.pro-disclaimer-area p {
	text-indent: 2em;
	color: #666
}

.pro-parameter-area {
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	color: #404040;
	font-size: 14px;
	padding: 2px 44px 28px;
	line-height: 20px
}

.pro-parameter-area table {
	width: 100%
}

.pro-parameter-area h3 {
	font-size: 16px;
	color: #000;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	padding: 34px 0 2px;
	margin-bottom: 2px
}

.pro-parameter-area .p-name,.pro-parameter-area .p-desc {
	padding: 5px 0
}

.pro-parameter-area .p-name {
	width: 143px;
	vertical-align: top
}

.pro-package-area,.pro-service-area {
	padding: 36px 44px;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	font-size: 14px
}

.pro-score-area {
	border-bottom: 1px solid #dedede;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-score-average {
	float: left;
	width: 146px;
	text-align: center
}

.pro-score-average span {
	font-size: 33px;
	color: #e01d20;
	line-height: 1.2;
	display: block;
	margin: 14px 0 -3px;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif
}

.pro-score-average b {
	font-size: 53px
}

.pro-score-average em {
	font-size: 14px
}

.pro-score-percent {
	float: left;
	width: 123px;
	padding-top: 7px
}

.pro-score-percent dl {
	padding-top: 4px
}

.pro-score-percent dt {
	padding-bottom: 2px;
	letter-spacing: 1px
}

.pro-score-percent dt em {
	color: #999
}

.pro-score-percent dd,.pro-score-percent dd s {
	height: 6px;
	font-size: 0;
	line-height: 0
}

.pro-score-percent dd {
	width: 100px;
	position: relative;
	background-color: #DDD
}

.pro-score-percent dd s {
	position: absolute;
	background-color: #e01d20;
	left: 0;
	top: 0
}

.pro-score-impress {
	float: left;
	width: 356px;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	min-height: 108px;
	_height: 108px
}

.pro-score-impress dl {
	padding: 10px 0 0 21px;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-score-impress dt {
	padding-bottom: 4px
}

.pro-score-impress dd {
	float: left;
	height: 18px;
	line-height: 18px;
	padding: 0 5px;
	min-width: 85px;
	_width: 85px;
	background-color: #f8e9c2;
	margin: 0 15px 5px 0;
	white-space: nowrap
}

.pro-score-impress dd em {
	color: #999
}

.pro-score-button {
	float: left;
	padding-top: 43px;
	width: 122px;
	text-align: center
}

.pro-evaluate-tab {
	height: 52px;
	_overflow: hidden;
	border-bottom: 1px solid #dedede
}

.pro-evaluate-tab-nav {
	float: left;
	padding-left: 12px;
	_position: relative;
	_z-index: 2;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-evaluate-tab-nav li {
	float: left;
	padding-bottom: 1px
}

.pro-evaluate-tab-nav li.current {
	background-position: center 46px
}

.pro-evaluate-tab-nav a {
	float: left;
	height: 52px;
	line-height: 52px;
	padding: 0 10px;
	color: #999
}

.pro-evaluate-tab-nav a:hover {
	text-decoration: none
}

.pro-evaluate-tab-nav .current a,.pro-evaluate-tab-nav a:hover {
	color: #333
}

.pro-evaluate-page {
	float: right;
	padding-right: 25px;
	text-align: right
}

.pro-evaluate-tab .pro-evaluate-page {
	padding-top: 17px;
	display: none
}

.pro-comment-list {
	padding-top: 25px;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-comment-item {
	position: relative;
	padding-bottom: 20px
}

.pro-comment-user {
	float: left;
	text-align: center;
	padding: 0 15px;
	width: 90px;
	position: relative
}

.pro-comment-user-img img {
	border: 1px solid #dedede;
	vertical-align: top;
	width: 69px;
	height: 69px
}

.pro-comment-user-name {
	padding-top: 4px;
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden
}

.pro-comment-user-tag {
	position: absolute;
	left: 86px;
	top: -10px
}

.pro-user-comment-main {
	margin: 0 25px 0 0;
	border: 1px solid #dedede;
	background-color: #fafafa;
	_zoom: 1;
	overflow: hidden
}

.pro-user-comment {
	min-height: 90px;
	_height: 90px
}

.pro-user-comment .h {
	overflow: hidden
}

.pro-user-comment-score {
	float: left;
	padding: 14px 19px 0 14px
}

.pro-user-comment-score em {
	padding-left: 14px;
	position: relative;
	top: -1px
}

.pro-user-comment-score em b {
	font-weight: 400
}

.pro-user-comment-impress {
	float: left;
	width: 285px;
	padding-top: 7px;
	overflow: hidden
}

.pro-user-comment-impress li {
	background-color: #f8e9c2;
	float: left;
	height: 18px;
	line-height: 18px;
	margin: 5px 13px 0 0;
	padding: 0 5px;
	white-space: nowrap
}

.pro-user-comment-time {
	float: right;
	color: #999;
	padding: 13px 15px 0 0;
	white-space: nowrap
}

.pro-user-comment .b {
	word-break: break-all;
	word-wrap: break-word;
	padding: 11px 130px 12px 15px;
	line-height: 18px
}

.pro-admin-reply {
	border-top: 1px dashed #afafaf;
	padding: 3px 115px 9px 0;
	margin: 0 15px
}

.pro-admin-reply dl {
	color: #ff5c14
}

.pro-admin-reply dt {
	float: left
}

.pro-admin-reply dd {
	overflow: hidden
}

.pro-comment-item .arrow {
	position: absolute;
	top: 18px;
	left: 111px;
	_left: 114px;
	width: 10px;
	height: 14px;
	background-position: -47px -75px
}

.pro-inquire-tips,.pro-faq-tips {
	border-bottom: 1px solid #dedede;
	background-color: #FFF;
	line-height: 20px;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	padding: 17px 22px 14px
}

.pro-inquire-tips label,.pro-faq-tips label {
	color: #ec6909
}

.pro-inquire-list {
	padding: 0 25px;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-inquire-item {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: -1px
}

.pro-inquire-user {
	padding: 17px 0 2px
}

.pro-inquire-user label,.pro-inquire-user span,.pro-inquire-user em {
	color: #999
}

.pro-inquire-user em {
	font-family: Arial, Helvetica, sans-serif
}

.pro-inquire-user s {
	margin: 0 13px 0 5px
}

.pro-inquire-user i {
	vertical-align: top
}

.pro-inquire-question {
	word-break: break-all;
	word-wrap: break-word;
	padding-bottom: 9px
}

.pro-inquire-answer {
	color: #ec6909;
	padding: 0 180px 17px 0;
	position: relative
}

.pro-inquire-answer em {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	color: #999;
	font-family: Arial, Helvetica, sans-serif
}

.pro-inquire-page {
	padding: 20px 25px 22px
}

.pro-inquire-record {
	float: left;
	font-size: 14px;
	color: #666;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	margin-top: -6px
}

.pro-inquire-record em {
	font-size: 18px;
	color: #ec6909;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 6px
}

.pro-inquire-page .pager {
	float: right
}

.pro-inquire-empty {
	text-align: center;
	padding: 40px 0;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-faq-list {
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	padding: 18px 25px 22px
}

.pro-faq-item {
	line-height: 20px
}

.pro-faq-item dd {
	color: #666
}

.pro-faq-page {
	border-top: 1px solid #dedede;
	padding: 20px 0 22px;
	margin: 0 25px
}

.pro-faq-record {
	float: left;
	color: #666;
	font-size: 14px;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	margin-top: -6px
}

.pro-faq-record em {
	font-size: 18px;
	color: #ec6909;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 6px
}

.pro-faq-page .pager {
	float: right
}

.pro-faq-empty {
	text-align: center;
	padding: 40px 0;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-inquire-form-area {
	position: relative;
	margin-top: -20px;
	border: 1px solid #dedede;
	border-top: 0 none;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-inquire-form-area .h h3 {
	text-align: center;
	font-size: 14px;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #dedede;
	background-color: #f7f7f7
}

.pro-inquire-form-area .h h2 {
	text-align: left;
	padding-left: 17px;
	font-size: 14px;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #dedede;
	background-color: #f7f7f7
}

.pro-inquire-form-area .h p {
	line-height: 20px;
	background-color: #FFF;
	padding: 15px 25px;
	color: 666
}

.pro-inquire-form-area .b {
	background-color: #FFF;
	padding: 0 25px
}

.pro-inquire-form-area .form-edit-area {
	border-top: 1px solid #dedede;
	padding-top: 7px
}

.pro-inquire-form-area .b p {
	padding: 10px 0
}

.pro-inquire-form-area .b b {
	font-weight: 400;
	margin-right: 10px;
	vertical-align: middle
}

.pro-inquire-form-area .b label {
	margin-right: 30px;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-inquire-form-area .b .textarea {
	width: 97%;
	height: 120px;
	overflow: auto;
	padding: 4px 1.5%
}

.pro-inquire-form-area .form-edit-action {
	padding: 10px 0 26px
}

.rater-star {
	position: relative;
	margin-left: -3px;
	background-repeat: repeat-x;
	background-position: left top;
	*zoom: 1
}

.rater-star-item,.rater-star-item-current,.rater-star-item-hover {
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: repeat-x;
	font-size: 0;
	line-height: 0
}

.rater-star-item {
	background-position: -100% -100%
}

.rater-star-item-hover {
	background-position: left bottom;
	cursor: pointer
}

.rater-star-item-current {
	background-position: left center
}

.pro-eval-form-area {
	position: relative;
	margin-top: -20px;
	border: 1px solid #dedede;
	border-top: 0 none;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
	*zoom: 1
}

.pro-eval-form-area .h h3 {
	text-align: center;
	font-size: 14px;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #dedede;
	background-color: #f7f7f7
}

.pro-eval-form-area .h h2 {
	text-align: left;
	padding-left: 17px;
	font-size: 14px;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #dedede;
	background-color: #f7f7f7
}

.pro-eval-form-area .h p {
	line-height: 20px;
	background-color: #FFF;
	padding: 15px 25px;
	color: 666
}

.pro-eval-form-area .b {
	background-color: #FFF;
	padding: 0 25px
}

.pro-eval-form-area .form-edit-area {
	padding: 7px 0 0 29px
}

.pro-eval-form-area .form-edit-area th {
	padding-right: 6px
}

.pro-eval-form-area .b .textarea {
	width: 96.5%;
	height: 120px;
	overflow: auto;
	padding: 4px 1.5%
}

.pro-eval-impress {
	position: relative;
	bottom: -10px;
	margin-top: -10px
}

.pro-eval-impress ol {
	*zoom: 1
}

.pro-eval-impress li {
	float: left;
	padding: 0 18px 10px 0;
	*zoom: 1;
	height: 26px;
	min-width: 115px;
	_width: 115px;
	vertical-align: top
}

.pro-eval-impress .impress {
	float: left;
	position: relative;
	text-align: center;
	cursor: pointer
}

.pro-eval-impress a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	border: 1px solid #d1d1d1;
	background-color: #f7f7f7;
	padding: 3px 0;
	width: 115px
}

.pro-eval-impress a:hover {
	text-decoration: none
}

.pro-eval-impress .selected a,.pro-eval-impress a:hover {
	border-color: #cb1a22
}

.pro-eval-impress .selected s {
	position: absolute;
	width: 10px;
	height: 10px;
	line-height: 1px;
	font-size: 1px;
	right: 1px;
	_right: 0;
	bottom: 1px;
	background-position: 0 0
}

.pro-eval-impress .current .pro-eval-impress-custom,.pro-eval-impress-edit
	{
	display: none
}

.pro-eval-impress-edit {
	position: absolute;
	width: 178px
}

.pro-eval-impress-edit .text {
	border-color: #d1d1d1;
	width: 107px;
	vertical-align: middle;
	*vertical-align: top;
	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1
}

.pro-eval-impress-edit a {
	width: 42px;
	text-align: center;
	vertical-align: middle;
	*vertical-align: top;
	margin-left: -1px;
	background-color: #FFF;
	*position: relative;
	*top: 1px
}

.pro-eval-impress-edit a:active {
	border-color: #c21820;
	color: #c21820
}

.pro-eval-impress .current .pro-eval-impress-edit {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.pro-eval-form-area .countTxt {
	text-align: right;
	color: #999
}

.pro-eval-form-area .form-edit-action {
	margin-top: -10px;
	padding: 0 0 26px 66px
}

.search-count-area {
	padding: 0 0 2px 5px;
	color: #808080
}

.search-count-area b,.search-count-area em {
	margin: 0 7px
}

.search-count-area em {
	font-weight: 700;
	color: #f96209
}

.search .rl-area {
	margin-right: 2px
}

.search-relational-area {
	padding: 0 0 13px 4px
}

.search-relational-area b {
	color: #4c4c4c;
	background-color: #FFF;
	position: relative
}

.search-relational-area span {
	padding-right: 6px;
	margin-left: -1px
}

.search-relational-area s {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 1px;
	height: 15px;
	padding-left: 6px;
	vertical-align: middle;
	background-position: 0 -208px
}

.search-relational-area a {
	color: #033333
}

.search-relational-area a:hover {
	color: #f98009;
	text-decoration: none
}

.search-area {
	border-top: 2px solid #a8a8a8;
	overflow: hidden
}

.search-area .h {
	border-top: 2px solid #FFF;
	background-color: #e5e5e5;
	padding: 6px 0 10px 15px;
	color: #5c5c5c
}

.search-area .sort-area li {
	float: left;
	height: 24px;
	line-height: 24px
}

.search-area .sort-area a {
	display: inline-block;
	border: 1px solid #bebebe;
	height: 22px;
	line-height: 20px;
	line-height: 24px\9;
	*line-height: 23px;
	overflow: hidden;
	background-position: 0 -390px;
	background-repeat: repeat-x;
	padding: 0 25px 0 10px;
	margin: 0 10px 0 0;
	position: relative
}

.search-area .sort-area a:hover {
	text-decoration: none;
	color: #C00
}

.search-area .sort-area s {
	display: block;
	width: 8px;
	height: 10px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	top: 6px
}

.search-area .sort-sale s {
	background-position: 0 -28px
}

.search-area .sort-desc .sort-sale s {
	background-position: 0 -51px
}

.search-area .sort-price s,.search-area .sort-added s {
	background-position: 0 -70px
}

.search-area .sort-desc .sort-price s,.search-area .sort-desc .sort-added s
	{
	background-position: 0 -110px
}

.search-area .sort-asc .sort-price s,.search-area .sort-asc .sort-added s
	{
	background-position: 0 -90px
}

.search-empty-area {
	height: 140px;
	padding-top: 280px;
	text-align: center;
	color: #acacac;
	font-size: 14px;
	background-position: center 109px
}

.wide .pro-summary-area {
	background-position: 541px 0
}

.wide .pro-summary-area .left-area {
	width: 540px
}

.wide .pro-summary-area .right-area {
	width: 657px
}

.wide .pro-promotions-area dd,.wide .pro-sku-area dd,.wide .pro-ew-area dd
	{
	width: 520px
}

.wide .u-3-4 {
	width: 940px
}

.wide .tool-fixed .pro-detail-tab {
	width: 938px
}

.wide .pro-feature-area {
	padding-left: 94px;
	padding-right: 94px
}

.wide .pro-score-impress {
	width: 516px
}

.wide .pro-score-button {
	width: 150px
}

.wide .pro-evaluate-tab .pro-evaluate-page {
	display: block
}

.wide .pro-user-comment-impress {
	width: 465px
}

.wide .u-1-4 {
	width: 240px
}